.Navigation {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    display: block;
}

.Navigation-List {
    display: none;
    list-style: none;
}

@media only screen and (min-width: 770px) {
    .Navigation-List {
        display: flex;
        flex-direction: row;
    }
    .Navigation-Link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.Navigation-Link {
    opacity: 0.7;
    font-size: 16px;
    line-height: 20px;
}