.MainPanel {
  margin: 0px 40px;
  font-family: "Arial", sans-serif;
  font-size: calc(14px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  text-align: left;
  height: 100vh;
}
